$purple-light-color:#755CDE;
$orange-color:#F6A560;
$light-red-color:#F39E9E;
$red-color:#EB7565;
$aqua-color:#61C4B7;
$purple-color:#61C4B7;
$dark-green-color:#030303;
$silver-color:#7A746E;
$white-light-color:#FFF7F0;

$main-ff:"Plus Jakarta Sans", sans-serif;